<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LSRockingBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>654B31161E10CD98008831C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654B312F1E10CD99008831C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654B313A1E10CD99008831C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
